{% extends "base.html" %}

{% block header %}
    <h1>{% block title %}Teacher{% endblock %}</h1>
{% endblock %}

{% block content %}
    <div class="dbtable">
        <table>
            <tr>
                <th>Given Name</th>
                <th>Family Name</th>
                <th>Grade</th>
                <th>Class</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td>{{student["given_name"]}}</td>
                    <td>{{student["family_name"]}}</td>
                    <td>{{student["grade"]}}</td>
                    <td>{{student["class"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <p>Teacher momnent</p>
{% endblock %}

{% block navbar_colour %}
"navbar is-success"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">Home</a>
    <p class="navbar-item">Welcome, TEACHER NAME!</p>
  </div>
{% endblock %}