{% extends "base.html" %}

{% block header %}
<div class="container">
  <br></br>
    <h1>{% block title %}Teacher{% endblock %}</h1>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <input type="text" id="search" onkeyup="filter()" placeholder="Search...">
    <br></br>
      <div class="notification">
    <div class="dbtable">
        <table id="table">
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Grade</th>
                <th>Class</th>
            </tr>
            {% for student in students %}
                <tr>
                    <td><a href={{url_for("teacher.view", _id = student["_id"])}}>{{student["given_name"]}}</a></td>
                    <td>{{student["family_name"]}}</td>
                    <td>{{student["grade"]}}</td>
                    <td>{{student["class"]}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </div>
    </div>

    <script>
        function filter() {
            var input, table, tr, td, i, text;
            input = document.getElementById("search").value.toLowerCase();
            table = document.getElementById("table");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    text = td.textContent || td.innerText;
                    if (text.toLowerCase().indexOf(input) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}

{% block navbar_colour %}
"navbar is-success"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">{{home}}</a>
    <p class="navbar-item">{{welcome}}, {{session["given_name"]}}!</p>
  </div>
{% endblock %}
