{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Student{% endblock %}</h1>
{% endblock %}

{% block content %}
    <p>This is just a nice way currently to get some html down</p>
{% endblock %}

{% block navbar_colour %}
"navbar is-link"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">Home</a>
    <p class="navbar-item">Welcome, {{session["given_name"]}}!</p>
  </div>
{% endblock %}