{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Student{% endblock %}</h1>
{% endblock %}

{% block content %}
  {% for level in progress if not level == "_id" %}
    <h2>{{level}}</h2>
    {% for item in progress[level] %}
      <li>{{item}}: {{progress[level][item]}}</li>
    {% endfor %}
  {% endfor %}
{% endblock %}

{% block navbar_colour %}
"navbar is-link"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">{{home}}</a>
    <p class="navbar-item">{{welcome}}, {{session["given_name"]}}!</p>
  </div>
{% endblock %}
