{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Settings{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST">
    <label for="grade">Grade (9-12)</label>
    <input type="number" name="grade" id="grade" min="9" max="12" title="Must be between 9 and 12" required>
    <br>
    <label for="class">Class</label>
    <input type="text" name="class" id="class" required>
    <br>
    <label for="lang">Default Langauge</label>
    <br>
    <label for="en_CA">English (Canada)</label>
    <input type="radio" name="lang" id="en_CA" value="en_CA" required>
    <br>
    <label for="fr_CA">Français (Canada)</label>
    <input type="radio" name="lang" id="fr_CA" value="fr_CA" required>
    <br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}

{% block navbar_colour %}
"navbar is-link"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item" href={{url_for("student.settings")}}>{{settings}}</a>
    <p class="navbar-item">{{welcome}}, {{session["given_name"]}}!</p>
  </div>
{% endblock %}
