{% extends "base.html" %}
{% block header %}
    <h1>{% block title %}Student{% endblock %}</h1>
{% endblock %}

{% block content %}
  <h2>Hey there {{session["given_name"]}}!</h2>
  <p>Since you're a new user, please make sure your account information is right!</p>
  <form method="POST">
    <label for="crade">Grade</label>
    <input name="grade" id="grade" required>
    </br>
    <label for="class">Class</label>
    <input name="class" id="class" required>
    </br>
    <input type="submit" value="Submit">
  </form>
{% endblock %}

{% block navbar_colour %}
"navbar is-link"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">Home</a>
    <p class="navbar-item">Welcome, {{session["given_name"]}}!</p>
  </div>
{% endblock %}