{% extends "base.html" %}
{% block header %}
<style>
    h1 {
      letter-spacing: 5px;
    }

    .center {
      margin: 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .moveup {
        transition: transform 1s;
    }

    .moveup:hover {
      transform: translate(-50%, -75%);
    }

    .fadein {
      transition: 0.7s;
      opacity: 0;
    }

    .moveup:hover > .fadein {
      opacity: 1;
    }

    .scroll-button
    {
      color:black;
    }
</style>

<div class="container center moveup" style="top: 50%;">
    <h1 class="has-text-link-dark has-text-centered has-text-weight-light" style="font-size: 100px;">
      <span><img src="/static/assets/logo-blue.png" width="72"></span> {% block title %}Voltaire{% endblock %}
    </h1>

    <h2 class="has-text-black has-text-centered has-text-weight-bold title is-3 fadein">
      {{tagline}}
   </h2>
</div>

<div class ="center" style="top:65%;">
  <h3 class="has-text-black has-text-centered has-text-weight-normal subtitle is-4">
    {{discover}}
 </h3>
 <b></b>
 <h4 class="has-text-black has-text-centered has-text-weight-bold title is-3" style="line-height:2">
  {{learn_more}}
  </h4>
  <a href="#more"><i class="fa-solid fa-angle-down center scroll-button" style="font-size:48px; "></i></a>
</div>

<div class = "center" style="top:110%;">
  <a href="#home"><i class="fa-solid fa-angle-up center scroll-button" style="font-size:48px; "></i></a>
</div>
<div id="more" class ="center columns" style="top: 200%;">
    Made by Vu and Xiang.
</div>

{% endblock %}

{% block navbar_colour %}
"navbar is-dark"
{% endblock %}

{% block navbar_start %}
<div id="navbarBasicExample" class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item">{{contact}}</a>
    <div class="navbar-item has-dropdown is-hoverable">
      <a class="navbar-link">{{more}}</a>

      <div class="navbar-dropdown">
        <a class="navbar-item">when</a>
        <a class="navbar-item">you</a>
        <a class="navbar-item">see</a>
        <hr class="navbar-divider">
        <a class="navbar-item">it</a>
      </div>
    </div>
  </div>
{% endblock %}
