{% extends "base.html" %}
{% block header %}
<style>
    h1 {
      letter-spacing: 10px;
    }
</style>
<span class="icon-text">
    <span class="icon">
      <i class="fas fa-home"></i>
    </span>
    <span>Home</span>
  </span>
<div class="container" style="white-space:nowrap">
    <div style="display:inline;">
        <img src="/static/assets/logo-blue.png" width=40>
    </div>

    <h1 class="has-text-link title is-1 has-text-weight-light" style="display:inline; white-space:nowrap;">
        {% block title %}Voltaire{% endblock %}
    </h1>
</div>
{% endblock %}

{% block content %}
    <p>Hello world!</p>
{% endblock %}
