<!doctype HTML>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="/static/assets/logo-black.png">
    <style>
      html { 
        background: url(static/assets/bg.png) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }
    </style>
</head>
<body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item"
              {% if g.type == "teacher" %}
                href="/t/"
              {% elif g.type == "student" %}
                href="/s/"
              {else}
                href="/"
              {% endif %}
            >
              <img src="/static/assets/logo-white.png">
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">Home</a>
              <a class="navbar-item">Contact</a>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">More</a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">when</a>
                  <a class="navbar-item">you</a>
                  <a class="navbar-item">see</a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">it</a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                  <div class="buttons">
                    {% if g.user %}
                        <a href="/logout" class="button is-primary"><strong>Log Out</strong></a>
                    {% else %}
                        <a href="/login" class="button is-primary"><strong>Log In</strong></a>
                    {% endif %}
                  </div>
                </div>
              </div>
              
    </nav>

    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
